@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

i em{
	font-style: normal;
}

b,
strong{
	font-weight: normal;
	font-variant: small-caps;
}

abbr.name{
	white-space: nowrap;
}

[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

.epitaph{
	font-variant: all-small-caps;
	text-align: center;
}

.epitaph i{
	font-variant: normal;
}

.epitaph .large{
	font-size: 1.2em;
}

.epitaph .xlarge{
	font-size: 1.4em;
}

blockquote header p{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

blockquote header + p{
	margin-top: 1em;
}

[epub|type~="appendix"] blockquote{
	margin: 0;
	margin-top: 2em;
}

[epub|type~="appendix"] blockquote[epub|type="epigraph"]{
	text-align: center;
	font-variant: small-caps;
}

[epub|type~="appendix"] footer{
	margin-top: 1em;
	text-align: right;
	font-style: italic;
}

[epub|type~="appendix"] footer b{
	font-style: normal;
}
