@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

i em{
	font-style: normal;
}

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

#chapter-2-4 blockquote:last-of-type{
	font-variant: all-small-caps;
	text-align: center;
}

#chapter-2-4 blockquote:last-of-type i{
	font-variant: normal;
}

#chapter-2-4 blockquote:last-of-type span{
	font-size: 1.2em;
}

#chapter-2-4 blockquote:last-of-type span:nth-of-type(2){
	font-size: 1.4em;
}

blockquote header p{
	font-variant: small-caps;
	text-indent: 0;
}

blockquote header + p{
	margin-top: 1em;
}

[epub|type~="appendix"] blockquote{
	margin: 0;
	margin-top: 2em;
}

#testimonies-of-authors blockquote:last-of-type{
	text-align: center;
	font-variant: small-caps;
}

[epub|type~="appendix"] footer{
	margin-top: 1em;
	text-align: right;
	font-style: italic;
}

[epub|type~="appendix"] footer b{
	font-style: normal;
}

#testimonies-of-authors blockquote:first-of-type p + p{
	margin-top: 1em;
	text-indent: 0;
}

#chapter-3-10 blockquote:first-of-type p{
	text-indent: 0;
}
